/* // from: https://comet.discoveryeducation.com/ */

:root {
    --black: #1b1e23;
    --neutral5: #0B0C0F;
    --neutral-10: #16181D;
    --neutral-15: #21242C;
    --neutral-20: #2B303B;
    --neutral-25: #363C49;
    --neutral-30: #414858;
    --neutral-32: #404653;
    --neutral-38: #535C70;
    --neutral-40: #576075;
    --neutral-42: #58627D;
    --neutral-50: #6C7893;
    --neutral-55: #7B869D;
    --neutral-60: #8A93A8;
    --neutral-65: #98A1B3;
    --neutral-70: #A7AEBE;
    --neutral-80: #C4C9D4;
    --neutral-90: #E2E4E9;
    --neutral-95: #F0F2F4;
    --neutral-100: #FFFFFF;
    --white: #FFFFFF;
    --black: #0B0C0F;
    --blue-20: #5aa5cd;
    --blue-40: #2D6A9F;
    --blue-53: #3277B3;
    --blue-90: #d8e6f4;
    --azure-5: #060D14;
    --azure-10: #0B1A28;
    --azure-20: #163550;
    --azure-30: #224F77;
    --azure-40: #2D6A9F;
    --azure-50: #3884C7;
    --azure-60: #609DD2;
    --azure-70: #88B5DD;
    --azure-80: #AFCEE9;
    --azure-90: #D7E6F4;
    --azure-dark: #163550;
    --azure-default: #2D6A9F;
    --azure-light: #609DD2;
    --purple-5: #0D0614;
    --purple-10: #190B28;
    --purple-20: #331650;
    --purple-30: #4D2277;
    --purple-40: #662D9F;
    --purple-50: #7F38C7;
    --purple-55: #8c4ccd;
    --purple-60: #9960D2;
    --purple-70: #B288DD;
    --purple-80: #CCAFE9;
    --purple-90: #E5D7F4;
    --lime-5: #0D1604;
    --lime-10: #1B2B08;
    --lime-20: #355610;
    --lime-30: #508118;
    --lime-40: #6BAC20;
    --lime-50: #85D728;
    --lime-60: #9EDF53;
    --lime-70: #9EDF53;
    --lime-80: #CEEFA9;
    --lime-90: #E7F7D4;
    --tangerine-5: #160903;
    --tangerine-10: #160903;
    --tangerine-20: #5A220C;
    --tangerine-30: #873312;
    --tangerine-40: #B44418;
    --tangerine-50: #E0561F;
    --tangerine-60: #E7774B;
    --tangerine-70: #ED9978;
    --tangerine-80: #F3BBA5;
    --tangerine-90: #F9DDD2;
    --violet-5: #0A0317;
    --violet-10: #14062D;
    --violet-20: #270C5A;
    --violet-30: #3B1287;
    --violet-40: #4E17B5;
    --violet-50: #621DE2;
    --violet-60: #814AE8;
    --violet-70: #A178ED;
    --violet-80: #C0A5F3;
    --violet-90: #E0D2F9;
    --emerald-5: #061411;
    --emerald-10: #0C2722;
    --emerald-20: #174F44;
    --emerald-30: #237667;
    --emerald-40: #2F9D89;
    --emerald-50: #3BC4AB;
    --emerald-60: #62D0BC;
    --emerald-70: #89DCCD;
    --emerald-80: #B0E8DD;
    --emerald-90: #D8F3EE;
    --emerald-dark: #174F44;
    --emerald-default: #2F9D89;
    --emerald-light: #62D0BC;
    --midnight-5: #020D17;
    --midnight-10: #041B2F;
    --midnight-20: #08365E;
    --midnight-30: #0C518D;
    --midnight-40: #106CBC;
    --midnight-50: #1487EB;
    --midnight-60: #439FEF;
    --midnight-70: #72B7F3;
    --midnight-80: #A1CFF7;
    --midnight-90: #D0E7FB;
    --midnight-dark: #08365E;
    --midnight-default: #106CBC;
    --midnight-light: #439FEF;
    --teal-5: #071112;
    --teal-10: #0E2325;
    --teal-20: #1C454A;
    --teal-30: #2A686F;
    --teal-40: #388B94;
    --teal-50: #46ADB9;
    --teal-60: #6BBEC7;
    --teal-70: #90CED5;
    --teal-80: #B5DEE3;
    --teal-90: #DAEFF1;
    --orchid-5: #090811;
    --orchid-10: #121122;
    --orchid-20: #242145;
    --orchid-30: #363267;
    --orchid-40: #48428A;
    --orchid-50: #5A53AC;
    --orchid-60: #7B75BD;
    --orchid-70: #9C98CD;
    --orchid-80: #BDBADE;
    --orchid-90: #DEDDEE;
    --orchid-dark: #242145;
    --orchid-default: #48428A;
    --orchid-light: #7B75BD;
    --plum-5: #12080D;
    --plum-10: #240F1B;
    --plum-20: #471F36;
    --plum-30: #6B2E51;
    --plum-40: #8F3D6B;
    --plum-50: #B34D86;
    --plum-60: #C2709E;
    --plum-70: #D194B7;
    --plum-80: #E0B8CF;
    --plum-90: #F0DBE7;
    --red-5: #160503;
    --red-10: #2D0A06;
    --red-20: #5A140C;
    --red-30: #871E12;
    --red-35: #9D2315;
    --red-40: #B42818;
    --red-50: #E0321F;
    --red-60: #E75B4B;
    --red-70: #ED8478;
    --red-80: #F3ADA5;
    --red-90: #F9D6D2;
    --green-5: #081208;
    --green-10: #0F240F;
    --green-20: #1E481F;
    --green-25: #265A26;
    --green-30: #2D6C2E;
    --green-35: #357E36;
    --green-40: #3C903E;
    --green-45: #43A245;
    --green-50: #4BB44D;
    --green-60: #6FC371;
    --green-70: #93D294;
    --green-80: #B7E1B8;
    --green-90: #DBF0DB;
    --yellow-5: #171403;
    --yellow-10: #2E2805;
    --yellow-20: #5C500A;
    --yellow-30: #8A770F;
    --yellow-40: #B89F14;
    --yellow-45: #CFB317;
    --yellow-50: #E6C719;
    --yellow-55: #E8CD30;
    --yellow-60: #EBD247;
    --yellow-70: #F0DD75;
    --yellow-80: #F5E9A3;
    --yellow-90: #FAF4D1;
    --orange-5: #1A0F00;
    --orange-10: #331E00;
    --orange-20: #663c00;
    --orange-30: #995900;
    --orange-40: #CC7700;
    --orange-50: #FF9500;
    --orange-60: #FFAA33;
    --orange-70: #FFBF66;
    --orange-80: #FFD599;
    --orange-90: #FFEACC;
    --surf-5: #011219;
    --surf-10: #012432;
    --surf-20: #034863;
    --surf-30: #046C95;
    --surf-40: #0590C7;
    --surf-50: #06B4F9;
    --surf-60: #38C3FA;
    --surf-70: #6AD2FB;
    --surf-80: #9CE1FC;
    --surf-90: #CDF0FE;
    --goldenrod-5: #171303;
    --goldenrod-10: #2E2505;
    --goldenrod-20: #5C4A0A;
    --goldenrod-30: #8A6F0F;
    --goldenrod-40: #AC8B13;
    --goldenrod-50: #E6B919;
    --goldenrod-60: #EBC747;
    --goldenrod-70: #F0D575;
    --goldenrod-80: #F5E3A3;
    --goldenrod-90: #FAF1D1;
    --maroon-41: #9A3737;
    --maroon-51: #BC4747;
    --maroon-dark: #9A3737;
    --maroon-default: #BC4747;
    --interactive-lighter: #AFCEE9;
    --interactive-light: #609DD2;
    --interactive-default: #2D6A9F;
    --interactive-dark: #163550;
    --interactive-text: #060D14;
    --visited-lighter: #CCAFE9;
    --visited-light: #9960D2;
    --visited-default: #662D9F;
    --visited-dark: #331650;
    --visited-text: #0D0614;
    --science-lighter: #CEEFA9;
    --science-light: #9EDF53;
    --science-default: #6BAC20;
    --science-dark: #355610;
    --science-text: #0D1604;
    --social-studies-lighter: #F3BBA5;
    --social-studies-light: #E7774B;
    --social-studies-default: #B44418;
    --social-studies-dark: #5A220C;
    --social-studies-text: #160903;
    --math-lighter: #C0A5F3;
    --math-light: #814AE8;
    --math-default: #4E17B5;
    --math-dark: #270C5A;
    --math-text: #0A0317;
    --stem-lighter: #B0E8DD;
    --stem-light: #62D0BC;
    --stem-default: #2F9D89;
    --stem-dark: #174F44;
    --stem-text: #061411;
    --comet-lighter: #A1CFF7;
    --comet-light: #439FEF;
    --comet-default: #106CBC;
    --comet-dark: #08365E;
    --comet-text: #020D17;
    --professional-learning-lighter: #B5DEE3;
    --professional-learning-light: #6BBEC7;
    --professional-learning-default: #388B94;
    --professional-learning-dark: #1C454A;
    --professional-learning-text: #071112;
    --coding-lighter: #A1CFF7;
    --coding-light: #439FEF;
    --coding-default: #106CBC;
    --coding-dark: #08365E;
    --coding-text: #020D17;
    --espresso-lighter: #BDBADE;
    --espresso-light: #7B75BD;
    --espresso-default: #48428A;
    --espresso-dark: #242145;
    --espresso-text: #090811;
    --health-relationships-lighter: #E0B8CF;
    --health-relationships-light: #C2709E;
    --health-relationships-default: #8F3D6B;
    --health-relationships-dark: #471F36;
    --health-relationships-text: #12080D;
    --pathway-lighter: #F5E3A3;
    --pathway-light: #EBC747;
    --pathway-default: #AC8B13;
    --pathway-dark: #5C4A0A;
    --pathway-text: #171303;
    --success-lighter: #B7E1B8;
    --success-light: #6FC371;
    --success-default: #3C903E;
    --success-dark: #1E481F;
    --success-text: #081208;
    --error-lighter: #F3ADA5;
    --error-light: #E75B4B;
    --error-default: #B42818;
    --error-dark: #5A140C;
    --error-text: #160503;
    --warning-lighter: #FAF4D1;
    --warning-light: #F0DD75;
    --warning-default: #E6C719;
    --warning-dark: #8A770F;
    --warning-text: #171403;
    --new-lighter: #FFEACC;
    --new-light: #FFBF66;
    --new-default: #FF9500;
    --new-dark: #995900;
    --new-text: #1A0F00;
    --uk-secondary-lighter: #9CE1FC;
    --uk-secondary-light: #38C3FA;
    --uk-secondary-default: #0590C7;
    --uk-secondary-dark: #034863;
    --uk-secondary-text: #011219;
    --mystery-science-lighter: #DCD9F2;
    --mystery-science-light: #B9B3E5;
    --mystery-science-default: #685BC7;
    --mystery-science-dark: #403498;
    --mystery-science-darker: #201A4C;
    --mystery-science-text: #080713;
    --feedback-success-default: #3C903E;
    --feedback-success-dark: #1E481F;
    --feedback-success-light: #6FC371;
    --feedback-error-default: #B42818;
    --feedback-error-dark: #5A140C;
    --feedback-error-light: #E75B4B;
    --feedback-warning-default: #E6C719;
    --feedback-warning-dark: #8A770F;
    --feedback-warning-light: #F0DD75;
    --feedback-new-default: #FF9500;
    --feedback-new-dark: #995900;
    --feedback-new-light: #FFBF66;
    --feedback-correct: #3C903E;
    --feedback-incorrect: #B42818;
    --feedback-badge-notification: #B42818;
    --assignment-not-started: #008EE6;
    --assignment-in-progress: #FF9854;
    --assignment-submitted: #5257C0;
    --feedback-success: #3C903E;
    --feedback-error: #B42818;
    --feedback-warning: #E6C719;
    --feedback-new: #FF9500;
    --background-color-default: #FFFFFF;
    --background-color-light: #E2E4E9;
    --background-color-dark: #2B303B;
    --background-color-hover-transparency: .2;
    --background-color-disabled: #E2E4E9;
    --background-color-transparency-over-image: .5;
    --background-color-transparency-over-image-hover: 1;
    --background-color-image-matte: #0B0C0F;
    --background-color-feedback-success: #DBF0DB;
    --background-color-feedback-error: #F9D6D2;
    --background-color-feedback-warning: #FAF4D1;
    --background-color-feedback-new: #FFEACC;
    --background-color-block-light: #E2E4E9;
    --background-color-block-dark: #576075;
    --text-color-primary-default: #2B303B;
    --text-color-primary-on-light: #2B303B;
    --text-color-primary-on-dark: #FFFFFF;
    --text-color-secondary-default: #576075;
    --text-color-secondary-on-light: #576075;
    --text-color-secondary-on-dark: #C4C9D4;
    --text-color-link-default: #2D6A9F;
    --text-color-link-on-light: #2D6A9F;
    --text-color-link-on-dark: #FFFFFF;
    --text-color-error-default: #B42818;
    --text-color-error-on-light: #B42818;
    --text-color-error-on-dark: #FFFFFF;
    --text-color-disabled: #8A93A8;
    --text-color-default: #2B303B;
    --text-color-on-light: #2B303B;
    --text-color-on-dark: #FFFFFF;
    --text-color-light: #6C7893;
    --font-family-display: 'Proxima Nova', Arial, sans-serif;
    --font-family-body: 'Proxima Nova', Arial, sans-serif;
    --font-family-serif: 'Droid Serif', Georgia, serif;
    --font-family-code: Monaco;
    --font-size-rem-base: 16px;
    --font-size-default: 1.125rem;
    --font-size-s: 1rem;
    --font-size-paragraph: 1.125rem;
    --font-size-lead-paragraph: 1.5rem;
    --font-size-list-item: 1.125rem;
    --font-size-page-title: 3.5rem;
    --font-size-page-subtitle: 1.5rem;
    --font-size-header-level-1: 3.5rem;
    --font-size-header-level-2: 2.5rem;
    --font-size-header-level-3: 1.5rem;
    --font-size-header-level-3-subhead: 1rem;
    --font-size-header-level-4: 1.125rem;
    --font-size-header-level-5: 1rem;
    --font-size-button: 1.125rem;
    --font-size-byline: 1rem;
    --font-size-caption: 1rem;
    --font-size-code: .875rem;
    --font-size-form-input: 1.125rem;
    --font-size-form-label: 1.125rem;
    --font-size-messaging: 1rem;
    --font-size-metadata: .75rem;
    --font-size-microcopy: 1rem;
    --font-size-pill: .875rem;
    --font-size-tab: 1.25rem;
    --font-size-table: 1rem;
    --font-size-vs: .875rem;
    --font-line-height-default: 1.375;
    --font-line-height-s: 1.25;
    --font-line-height-long-form-text: 1.65;
    --size-default: 16px;
    --size-xs: 4px;
    --size-s: 6px;
    --size-m: 8px;
    --size-l: 32px;
    --size-xl: 64px;
    --size-icon-xs: 12px;
    --size-icon-s: 16px;
    --size-icon-m: 20px;
    --size-icon-l: 24px;
    --size-icon-xl: 40px;
    --size-icon-xxl: 60px;
    --size-page-shell-nav-width: 270px;
    --space-default: 16px;
    --space-xxs: 2px;
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 64px;
    --space-inset-default: 16px 16px 16px 16px;
    --space-inset-xxs: 2px 2px 2px 2px;
    --space-inset-xs: 4px 4px 4px 4px;
    --space-inset-s: 8px 8px 8px 8px;
    --space-inset-m: 16px 16px 16px 16px;
    --space-inset-l: 32px 32px 32px 32px;
    --space-inset-xl: 64px 64px 64px 64px;
    --space-inset-squish-default: 8px 16px 8px 16px;
    --space-inset-squish-xs: 2px 4px 2px 4px;
    --space-inset-squish-s: 4px 8px 4px 8px;
    --space-inset-squish-m: 8px 16px 8px 16px;
    --space-inset-squish-l: 16px 32px 16px 32px;
    --space-inset-stretch-default: 24px 16px 24px 16px;
    --space-inset-stretch-s: 12px 8px 12px 8px;
    --space-inset-stretch-m: 24px 16px 24px 16px;
    --space-inset-stretch-l: 48px 32px 48px 32px;
    --space-stack-default: 0 0 16px 0;
    --space-stack-xs: 0 0 4px 0;
    --space-stack-s: 0 0 8px 0;
    --space-stack-m: 0 0 16px 0;
    --space-stack-l: 0 0 32px 0;
    --space-stack-xl: 0 0 64px 0;
    --space-grid-default: 0 16px 16px 0;
    --space-grid-xs: 0 4px 4px 0;
    --space-grid-s: 0 8px 8px 0;
    --space-grid-m: 0 16px 16px 0;
    --space-grid-l: 0 32px 32px 0;
    --space-grid-xl: 0 64px 64px 0;
    --space-inline-left-default: 0 16px 0 0;
    --space-inline-left-xs: 0 4px 0 0;
    --space-inline-left-s: 0 8px 0 0;
    --space-inline-left-m: 0 16px 0 0;
    --space-inline-left-l: 0 32px 0 0;
    --space-inline-right-default: 0 0 0 16px;
    --space-inline-right-xs: 0 0 0 4px;
    --space-inline-right-s: 0 0 0 8px;
    --space-inline-right-m: 0 0 0 16px;
    --space-inline-right-l: 0 0 0 32px;
    --grid-row-max-width: 1200px;
    --grid-row-long-form-text-max-width: 800px;
    --grid-margin-default: 16px;
    --grid-margin-s: 8px;
    --grid-margin-m: 16px;
    --grid-margin-l: 32px;
    --grid-gutter-default: 16px;
    --grid-gutter-s: 8px;
    --grid-gutter-m: 16px;
    --grid-gutter-l: 32px;
    --shadow-color: rgba(0, 0, 0, .05);
    --shadow-block-default: 2px 3px 4px 0 rgba(0, 0, 0, .05);
    --shadow-block-light: 1px 1px 2px 0 rgba(0, 0, 0, .05);
    --shadow-block-edge-inset-left: inset -4px 0 4px 0 rgba(0, 0, 0, .05);
    --shadow-block-edge-inset-right: inset 4px 0 4px 0 rgba(0, 0, 0, .05);
    --shadow-block-edge-inset-top: inset 0 4px 8px rgba(0, 0, 0, .05);
    --shadow-block-edge-inset: inset 0 0 12px rgba(0, 0, 0, .5);
    --shadow-text-default: 2px 2px 4px rgba(0, 0, 0, .68);
    --shadow-text-title-photo-overlay: 3px 3px 10px rgba(0, 0, 0, .95);
    --shadow-text-button-pressed: 0 1px 2px rgba(26, 26, 26, .2);
    --shadow-z-shadow-0: none;
    --shadow-z-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    --shadow-z-shadow-2: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
    --shadow-z-shadow-3: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
    --shadow-z-shadow-4: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
    --shadow-z-shadow-5: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
    --shadow-z-shadow-10: 0 32px 48px 4px rgba(0, 0, 0, .28), 0 12px 60px 10px rgba(0, 0, 0, .24), 0 16px 20px -10px rgba(0, 0, 0, .6);
    --border-hairline: solid 1px #C4C9D4;
    --border-hairline-default: solid 1px #C4C9D4;
    --border-hairline-on-light: solid 1px #C4C9D4;
    --border-hairline-on-dark: solid 1px #58627D;
    --border-activetab-width: 8px;
    --border-activetab-default: solid 8px #428BCA;
    --border-activetab-m: solid 8px #428BCA;
    --border-activetab-s: solid 4px #428BCA;
    --border-radius: 4px;
    --transition-default: .25s ease-in-out;
    --transition-fade-in: .25s ease-in;
    --transition-fade-out: .45s ease-out;
    --transition-hover: .25s ease-in-out;
    --z-index-page-stack-global-navigation: 0;
    --z-index-page-stack-default: 10;
    --z-index-page-stack-content: 10;
    --z-index-page-stack-page-header: 100;
    --z-index-page-stack-page-header-sticky: 110;
    --z-index-page-stack-modal-overlay: 150;
    --z-index-page-stack-dialog: 200;
    --z-index-page-stack-popup: 600;
    --z-index-page-stack-modal: 800;
    --z-index-page-stack-toast: 10000;
    --breakpoints-handset-portrait: 320px;
    --breakpoints-handset-landscape: 480px;
    --breakpoints-handset-wide-landscape: 568px;
    --breakpoints-tablet-narrow-portrait: 600px;
    --breakpoints-tablet-portrait: 768px;
    --breakpoints-tablet-landscape: 1024px;
    --breakpoints-tablet-wide-landscape: 1280px;
    --breakpoints-desktop: 1000px;
    --breakpoints-desktop-wide: 1440px;
    --theme-product_science-color-default: #6BAC20;
    --theme-product_science-color-dark: #355610;
    --theme-product_science-color-light: #9EDF53;
    --theme-product_social_studies-color-default: #B44418;
    --theme-product_social_studies-color-dark: #5A220C;
    --theme-product_social_studies-color-light: #E7774B;
    --theme-product_social-studies-color-default: #B44418;
    --theme-product_social-studies-color-dark: #5A220C;
    --theme-product_social-studies-color-light: #E7774B;
    --theme-product_math-color-default: #4E17B5;
    --theme-product_math-color-dark: #270C5A;
    --theme-product_math-color-light: #814AE8;
    --theme-product_stem-color-default: #2F9D89;
    --theme-product_stem-color-dark: #174F44;
    --theme-product_stem-color-light: #62D0BC;
    --theme-product_streaming-color-default: #106CBC;
    --theme-product_streaming-color-dark: #08365E;
    --theme-product_streaming-color-light: #439FEF;
    --theme-product_coding-color-default: #106CBC;
    --theme-product_coding-color-dark: #08365E;
    --theme-product_coding-color-light: #439FEF;
    --theme-product_espresso-color-default: #48428A;
    --theme-product_espresso-color-dark: #242145;
    --theme-product_espresso-color-light: #7B75BD;
}