/* 
==========================================================================
                            CONFIG & NORMALIZE
========================================================================== 
*/

:root {
    --black: #1b1e23;
    --dark: #282c34;
    --lightgrey: #abb2bf;
    --grey: #818896;
    --darkgrey: #5c6370;
    --bluegreen: #56b6c2;
    --blue: #61aeee;
    --pink: #c678dd;
    --salomon: #e06c75;
    --green: #98c379;
    --red: #be5046;
    --orange: #d19a66;
    --yellow: #e6c07b;
}

:crayolaMetallic {
    --white: #FEFEFE;
    --AlloyOrange: #C46210;
    --BdazzledBlue: #2E5894;
    --BigDipORuby: #9C2542;
    --BittersweetShimmer: #BF4F51;
    --BlastOffBronze: #A57164;
    --CyberGrape: #58427C;
    --DeepSpaceSparkle: #4A646C;
    --GoldFusion: #85754E;
    --IlluminatingEmerald: #319177;
    --MetallicSeaweed: #0A7E8C;
    --MetallicSunburst: #9C7C38;
    --RazzmicBerry: #8D4E85;
    --SheenGreen: #8FD400;
    --ShimmeringBlush: #D98695;
    --SonicSilver: #757575;
    --SteelBlue: #0081AB;
}


/* 
.bluegreenBorder{border-color:#56b6c2!important}
.blueBorder{border-color:#61aeee!important}
.pinkBorder{border-color:#c678dd!important}
.salomonBorder{border-color:#e06c75!important}
.greenBorder{border-color:#98c379!important}
.redBorder{border-color:#be5046!important}
.orangeBorder{border-color:#d19a66!important}
.yellowBorder{border-color:#e6c07b!important}

.bluegreen:hover{background:#56b6c2!important}
.blue:hover{background:#61aeee!important}
.pink:hover{background:#c678dd!important}
.salomon:hover{background:#e06c75!important}
.green:hover{background:#98c379!important}
.red:hover{background:#be5046!important}
.orange:hover{background:#d19a66!important}
.yellow:hover{background:#e6c07b!important} */

.bluegreenFont {
    color: #56b6c2!important
}

.blueFont {
    color: #61aeee!important
}

.pinkFont {
    color: #c678dd!important
}

.salomonFont {
    color: #e06c75!important
}

.greenFont {
    color: #98c379!important
}

.redFont {
    color: #be5046!important
}

.orangeFont {
    color: #d19a66!important
}

.yellowFont {
    color: #e6c07b!important
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    outline: 0
}

*::-webkit-scrollbar {
    display: none
}

* {
    scrollbar-width: none;
}

body {
    font-family: LibreBaskerville_Regular, Garamond, serif;
    color: var(--lightgrey);
    background: var(--dark);
    font-size: 18px
}

.hidden {
    display: none
}


/* 
==========================================================================
                            COMMON TAGS
========================================================================== 
*/

fieldset {
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
    padding: .75em;
    padding-top: 0px;
    position: relative;
}

legend {
    font-size: 1.4em;
    display: block;
    width: max-content;
    /* color: var(--salomon); */
    border: none
}

label {
    font-family: LibreBaskerville_Regular, Garamond, serif;
    padding-left: .2em;
    padding-top: .25em;
    font-size: 18px;
    display: block;
    margin: .25em 0;
    width: 100%;
    white-space: nowrap;
}


/* ALL INPUTS */

input,
select,
button {
    height: 40px;
}

input,
select,
textarea,
button,
.buttonlabel {
    font-family: Roboto_Regular, Garamond, serif;
    font-size: 18px;
    display: block;
    margin: .25em 0;
    width: 100%;
    padding: .5em .6em;
    border-radius: 4px;
    background: var(--dark);
    color: var(--lightgrey);
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}


/* SLIDER */

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--darkgrey);
    outline: 0;
    opacity: 1;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: .5em;
    border: none
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--green);
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 4px;
}

[type="submit"],
button {
    background-color: var(--blue);
    color: var(--dark);
    border: 1px solid var(--black);
    padding: .5em .6em;
    cursor: pointer;
    transition: .5s;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

button:hover {
    background-color: var(--bluegreen)
}

#submitButton:disabled,
#submitButton[disabled] {
    opacity: .4
}


/* 
==========================================================================
                        PAGE SETTINGS
========================================================================== 
*/

#content {
    max-width: 832px;
    margin: auto;
    padding: .5em;
    padding-top: 0;
}


/* @media (max-width:40em) {
    #content {
        width: 432px;
        margin: auto;
        padding: .5em;
        padding-top: 0;
    }
} */

#formcontent {
    position: absolute;
    top: 20px;
    left: 20px
}

#header {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    width: 425px;
}

#header div {
    padding-top: .5em;
}


/* #chart {
    text-decoration: line-through
} */

#AuswertungsChart,
#ProfilForm,
#MoodForm {
    display: none;
}

#ProfilForm,
#MoodForm {
    width: 425px;
}

#ProfilForm fieldset {
    color: var(--blue);
    border: 2px solid var(--blue);
}

#AuswertungsChart fieldset {
    color: var(--green);
    border: 2px solid var(--green);
}

#MoodForm fieldset {
    color: var(--orange);
    border: 2px solid var(--orange);
}

@media (max-width:40em) {
    #formcontent {
        display: none;
    }
}

#footer {
    padding: 1em 1em;
}

#footer img {
    vertical-align: bottom;
}


/* 
==========================================================================
                        OVERLAY
========================================================================== 
*/

#MessageOverlay fieldset {
    position: relative;
    border: 2px solid var(--red);
    border-radius: 5px;
    box-shadow: 0px -20px var(--dark);
    top: 0px;
    padding: 1em;
    margin: auto;
    width: max-content;
    color: var(--blue);
    background: var(--dark);
    width: 400px;
    word-break: break-word;
    /* text-align: justify; */
}


/* 
==========================================================================
                        PLUS MINUS LABLE
========================================================================== 
*/

.plusminus {
    cursor: pointer;
    border: 1px solid var(--black);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.plusminus.plus {
    background: var(--yellow)
}

.plusminus.minus {
    background: var(--red)
}

.plusminus.plus:hover {
    background: var(--red)
}

.plusminus.minus:hover {
    background: var(--yellow)
}

.plusminus:after,
.plusminus:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black)
}

.plusminus.plus:before {
    width: 2px;
    margin: 2px auto
}

.plusminus.minus:before {
    width: 0
}

.plusminus:after {
    margin: auto 2px;
    height: 2px
}


/* 
==========================================================================
                        PROFIL
========================================================================== 
*/

#ProfilForm input,
#ProfilForm select {
    color: var(--blue);
    border-color: var(--blue)
}

.profil_1 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.profil_1 .alter {
    width: 80px
}

.profil_1 .geschlecht,
.profil_1 .name,
.profil_1 .password {
    max-width: 150px
}

.profil_1 .buttonlabel.zyklus {
    width: max-content;
    color: var(--blue);
    background-color: var(--dark);
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: .5s;
}

.profil_2 {
    display: flex;
    gap: 20px
}

.profil_2 .subtyp {
    width: 150px
}

.profil_2 .diagnosen {
    max-width: 100%
}

#WirkungCheckboxes {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.buttonlabel.wirkung {
    width: max-content;
    color: var(--blue);
    background-color: var(--dark);
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: .5s;
    display: inline-block;
    /* margin: 0; */
}

#WirkungIndividuell {
    display: flex;
    gap: 20px
}

#WirkungIndividuell select {
    max-width: 100px;
}


/* .hidden:checked+label.buttonlabel.wirkung, */

.hidden:checked+label.buttonlabel.zyklus {
    background-color: var(--blue);
    color: var(--dark)
}

.buttonlabel.wirkung.bluegreen {
    color: var(--bluegreen)!important;
    border-color: var(--bluegreen)!important;
}

.hidden:checked+label.buttonlabel.wirkung.bluegreen {
    background-color: var(--bluegreen);
    color: var(--dark)!important
}

.buttonlabel.wirkung.blue {
    color: var(--blue)!important;
    border-color: var(--blue)!important;
}

.hidden:checked+label.buttonlabel.wirkung.blue {
    background-color: var(--blue);
    color: var(--dark)!important
}

.buttonlabel.wirkung.pink {
    color: var(--pink)!important;
    border-color: var(--pink)!important;
}

.hidden:checked+label.buttonlabel.wirkung.pink {
    background-color: var(--pink);
    color: var(--dark)!important
}

.buttonlabel.wirkung.salomon {
    color: var(--salomon)!important;
    border-color: var(--salomon)!important;
}

.hidden:checked+label.buttonlabel.wirkung.salomon {
    background-color: var(--salomon);
    color: var(--dark)!important
}

.buttonlabel.wirkung.green {
    color: var(--green)!important;
    border-color: var(--green)!important;
}

.hidden:checked+label.buttonlabel.wirkung.green {
    background-color: var(--green);
    color: var(--dark)!important
}

.buttonlabel.wirkung.orange {
    color: var(--orange)!important;
    border-color: var(--orange)!important;
}

.hidden:checked+label.buttonlabel.wirkung.orange {
    background-color: var(--orange);
    color: var(--dark)!important
}

.buttonlabel.wirkung.red {
    color: var(--red)!important;
    border-color: var(--red)!important;
}

.hidden:checked+label.buttonlabel.wirkung.red {
    background-color: var(--red);
    color: var(--dark)!important
}

.buttonlabel.wirkung.yellow {
    color: var(--yellow)!important;
    border-color: var(--yellow)!important;
}

.hidden:checked+label.buttonlabel.wirkung.yellow {
    background-color: var(--yellow);
    color: var(--dark)!important
}

.kommentar.profil textarea {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.kommentar.profil label {
    color: var(--lightgrey);
}


/* 
==========================================================================
                        MEDIKATION
========================================================================== 
*/

.medikationSet {
    padding-bottom: 1em;
}

.medikationSet:not(:first-of-type) {
    border-top: 1px solid var(--yellow);
}

.medikation input,
.medikation select {
    color: var(--yellow);
    border-color: var(--yellow)
}

.medikation {
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
}

.medikation label {
    color: var(--yellow);
}

.medikation .medikament {
    width: 170px
}

.medikation .dosierung,
.medikation .zeitpunkt {
    width: 100px
}

.kommentar.medikament textarea {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.kommentar.medikament label {
    color: var(--yellow);
}

#AddRemoveMedikation {
    display: inline-flex;
    gap: 20px
}

#RemoveMedikation {
    display: none;
}

.SpoilerMedikation {
    color: var(--yellow);
    cursor: pointer;
}

.SpoilerMedikation:hover {
    color: var(--red);
}


/* 
==========================================================================
                        MOOD
========================================================================== 
*/

label.SectionHeading {
    font-size: 1.2em;
    padding-top: 1em;
}

#MedikationHeading {
    color: var(--yellow);
}

.buttonlabel.wirkzeit {
    width: max-content;
    color: var(--yellow);
    background-color: var(--dark);
    border: 1px solid var(--yellow);
    cursor: pointer;
    transition: .5s;
}


/* .buttonlabel.wirkzeit:hover, */

.hidden:checked+label.buttonlabel.wirkzeit {
    background-color: var(--yellow);
    color: var(--dark)
}

#SituationHeading {
    color: var(--orange);
}

#SituationCheckboxes {
    display: block;
    padding: 5px 0
}

label.itemLabel.situation {
    color: var(--orange);
    border-color: var(--orange)
}

.buttonlabel.situation {
    width: max-content;
    background-color: var(--dark);
    color: var(--orange);
    border: 1px solid var(--orange);
    cursor: pointer;
    transition: .5s;
    display: inline-block;
    margin-right: .5em;
}


/* .buttonlabel.situation:hover, */

.hidden:checked+label.buttonlabel.situation {
    position: relative;
    /* background-color: var(--orange);
    color: var(--dark); */
}

.hidden:checked+label.buttonlabel.situation::before {
    content: '\2713';
    position: absolute;
    right: -10px;
    bottom: 10px;
    color: green;
    font-size: 2em;
}

input.newSituation {
    color: var(--orange);
    border-color: var(--orange)
}

#WirkungHeading {
    color: var(--pink)
}

.sliderValue,
.sliderLabel {
    display: inline
}

.sliderdiv {
    padding-top: 1em;
    /* padding-bottom: .5em; */
}


/* SLIDER COLOR */

.sliderdiv.red {
    color: var(--red);
}

input[type=range].red::-moz-range-thumb {
    background: var(--red)
}

input[type=range].red::-webkit-slider-thumb {
    background: var(--red);
    border-radius: 4px;
}

label.brainload,
#brainloadSliderOutput {
    color: var(--red);
}

.sliderdiv.green {
    color: var(--green);
}

input[type=range].green::-moz-range-thumb {
    background: var(--green)
}

input[type=range].green::-webkit-slider-thumb {
    background: var(--green);
}

label.green,
#moodSliderOutput {
    color: var(--green);
}

.sliderdiv.blue {
    color: var(--blue);
}

input[type=range].blue::-moz-range-thumb {
    background: var(--blue)
}

input[type=range].blue::-webkit-slider-thumb {
    background: var(--blue);
}

label.blue,
#motivationSliderOutput {
    color: var(--blue);
}

.sliderdiv.orange {
    color: var(--orange);
}

input[type=range].orange::-moz-range-thumb {
    background: var(--orange)
}

input[type=range].orange::-webkit-slider-thumb {
    background: var(--orange);
}

label.orange,
#motivationSliderOutput {
    color: var(--orange);
}

.sliderdiv.yellow {
    color: var(--yellow);
}

input[type=range].yellow::-moz-range-thumb {
    background: var(--yellow)
}

input[type=range].yellow::-webkit-slider-thumb {
    background: var(--yellow);
}

label.yellow,
#motivationSliderOutput {
    color: var(--yellow);
}

.sliderdiv.bluegreen {
    color: var(--bluegreen);
}

input[type=range].bluegreen::-moz-range-thumb {
    background: var(--bluegreen)
}

input[type=range].bluegreen::-webkit-slider-thumb {
    background: var(--bluegreen);
}

label.bluegreen,
#motivationSliderOutput {
    color: var(--bluegreen);
}

.sliderdiv.pink {
    color: var(--pink);
}

input[type=range].pink::-moz-range-thumb {
    background: var(--pink)
}

input[type=range].pink::-webkit-slider-thumb {
    background: var(--pink);
}

label.pink,
#motivationSliderOutput {
    color: var(--pink);
}

.sliderdiv.salomon {
    color: var(--salomon);
}

input[type=range].salomon::-moz-range-thumb {
    background: var(--salomon)
}

input[type=range].salomon::-webkit-slider-thumb {
    background: var(--salomon);
}

label.salomon,
#motivationSliderOutput {
    color: var(--salomon);
}


/* SLIDER COLOR */

#KommentarHeading {
    color: var(--bluegreen);
}

.kommentar.mood textarea {
    color: var(--bluegreen);
    border: 1px solid var(--bluegreen);
}

.kommentar.mood label {
    color: var(--bluegreen);
}


/* 
==========================================================================
                        CHART
========================================================================== 
*/

#ChartCanvas {
    width: 600px;
    /* height: 400px; */
}

@media (max-width:40em) {
    #ChartCanvas {
        width: 400px;
        height: 400px;
    }
}

#ChartTooltip {
    position: relative;
    height: 150px;
    /* left: 200px; */
}

#ChartTooltip td {
    /* border: 1px solid #58427C; */
    vertical-align: text-top;
    min-width: max-content;
}

#ChartToolSituation {
    color: var(--orange);
    padding: .5em .5em .5em .5em;
}

#ChartToolMedikation {
    color: var(--yellow);
    padding: .5em .5em .5em .5em;
}

#ChartToolWirkungen {
    padding: 0;
}

.b_value {
    padding-left: 0.5em;
}

#ChartToolDate {
    /* background: var(--salomon);
    padding: .2em .5em .2em .5em;
    text-align: center; */
    color: var(--salomon);
    white-space: nowrap;
}

#ChartToolKommentar {
    padding: .5em;
    color: var(--bluegreen);
}


/* 
==========================================================================
                        UNSORTED
========================================================================== 
*/


/* textarea#comment {
    width: 100%;
    padding: 10px 20px 10px 10px;
    background-color: var(--dark);
    color: var(--bluegreen);
    border: 1px solid var(--bluegreen);
    border-radius: 5px
} */


/* 
==========================================================================
                        ICONO ICONS https://saeedalipoor.github.io/icono/
========================================================================== 
*/

.icono-user:before {
    width: 16px;
    height: 16px;
    top: -20px;
    border-radius: 50%;
}

.icono-image::after {
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 32px;
    top: 5px;
    right: 5px;
}


/* 
==========================================================================
                        FLEX
========================================================================== 
*/

.flex_gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px
}

.flex_just {
    display: flex;
    justify-content: space-between
}

[class*=width] {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.width50 {
    width: 50px
}

.width100 {
    width: 100px
}

.width150 {
    max-width: 150px
}

.width200 {
    max-width: 200px
}

.width100p {
    width: 100%
}