@import url(https://fonts.rasal.de/?font=LibreBaskerville,Sentinel,OldStandardTT,NewComputerModern,NewComputerModern,JetBrainsMono);
:root {
    --dark: #282c34;
    --lightgrey: #abb2bf;
    --grey: #818896;
    --darkgrey: #5c6370;
    --bluegreen: #56b6c2;
    --blue: #61aeee;
    --pink: #c678dd;
    --salomon: #e06c75;
    --green: #98c379;
    --red: #be5046;
    --orange: #d19a66;
    --yellow: #e6c07b
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    outline: 0;
}

body,
html {
    height: 100vh;
    margin: 5px 0 0
}

body {
    height: 100vh;
    background: var(--dark);
    color: var(--lightgrey);
    font-family: LibreBaskerville_Regular, Garamond, serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    text-decoration: none;
    display: grid;
}
#links {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    text-decoration: none;
    display: grid;
}

#links a {
    color: #61aeee;
}

#links a:hover {
    color: #be5046;
}

#content {
    position: relative;
    top: 20px;
    margin: auto;
    max-width: 600px
}

h3 {
    font-size: 1.2em;
    line-height: 18px;
    color: var(--blue)
}

:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
    color: var(--orange);
    opacity: .6
}

::placeholder {
    color: var(--orange);
    opacity: .6
}

.button {
    font-family: LibreBaskerville_Regular, Garamond, serif;
    float: right;
    font-size: 1.3em;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    background: var(--salomon);
    color: var(--dark);
    text-align: center;
    cursor: pointer
}

fieldset {
    max-width: 500px;
    padding: 1em;
    margin: .5em;
    border: 2px solid var(--salomon);
    border-radius: 5px
}

legend {
    font-size: 1.7em;
    color: var(--salomon);
}

label.itemLabel {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.5em;
    display: inline-block
}

label.itemLabel.situation {
    color: var(--orange);
    padding-top: 0px;
    padding-bottom: 0px;
}

label.itemLabel.brainload {
    color: var(--red)
}

label.itemLabel.mood {
    color: var(--green)
}

label.itemLabel.motivation {
    color: var(--blue)
}

label.itemLabel.comment {
    color: var(--bluegreen)
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--darkgrey);
    outline: 0;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px;
    border: none
}

.slider:hover {
    opacity: 1
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--green);
    cursor: pointer
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer
}

.slider.brainload::-moz-range-thumb {
    background: var(--red);
    border: none;
}

.slider.mood::-moz-range-thumb {
    background: var(--green);
    border: none;
}

.slider.motivation::-moz-range-thumb {
    background: var(--blue);
    border: none;
}

.slider.brainload::-webkit-slider-thumb {
    background: var(--red);
    border-radius: 5px;
}

.slider.mood::-webkit-slider-thumb {
    background: var(--green);
    border-radius: 5px;
}

.slider.motivation::-webkit-slider-thumb {
    background: var(--blue);
    border-radius: 5px;
}

label+div {
    display: inline
}

#brainloadSliderOutput {
    color: var(--red);
    font-size: 1.3em;
}

#moodSliderOutput {
    color: var(--green);
    font-size: 1.3em;
}

#motivationSliderOutput {
    color: var(--blue);
    font-size: 1.3em;
}

#SituationCheckboxes {
    display: block;
    padding: 5px 0
}

input.newSituation {
    display: block;
    margin-top: 10px;
    font-family: LibreBaskerville_Regular, Garamond, serif;
    font-size: 1.3em;
    background-color: var(--dark);
    /* padding: 0; */
    padding: .2em;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.hidden_checkbox {
    display: none
}

label.text_checkbox {
    font-size: 1.3em;
    padding: 10px 10px 10px 10px;
    background-color: var(--darkgrey);
    color: var(--lightgrey);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    margin: 5px 10px 5px 0;
    display: inline-block
}

.hidden_checkbox:checked+label.text_checkbox {
    background-color: var(--orange);
    color: var(--dark)
}

textarea#comment {
    width: 100%;
    padding: 10px 20px 10px 10px;
    background-color: var(--dark);
    color: var(--bluegreen);
    border: 1px solid var(--bluegreen);
    border-radius: 5px
}

#submitButton:disabled,
#submitButton[disabled] {
    opacity: .4;
}

table.allData {
    width: 100vh;
    padding: 2em .5em;
    overflow-x: scroll;
}

table.allData tr {
    border-bottom: 1px solid var(--grey)
}

table.allData td {
    padding: .1em;
    white-space: nowrap;
}


/* CHART */

.container {
    position: relative;
    display: block;
    margin: auto;
    max-height: 95vw !important;
    max-width: 95vh !important;
}

#brainChart {
    max-height: 95% !important;
    max-width: 95% !important;
    /* position: absolute;
  top: 50%;
  -ms-transform: translateY(+50%);
  transform: translateY(+50%); */
}

#chartjs-tooltip {
    max-width: 250px;
    padding: 0em;
    background: var(--dark);
    border: 2px solid var(--salomon);
    border-radius: 5px;
    font-size: 1.2em;
}

#CTT_Situations {
    color: var(--orange);
    padding: .5em .5em .5em .5em;
}

#CTT_Values {
    padding: 0 .5em 0 .5em;
}

.b_value,
.b_label {
    padding-left: 0.5em;
}

#CTT_Date {
    background: var(--salomon);
    padding: .2em .5em .2em .5em;
    text-align: center;
    color: var(--dark);
    white-space: nowrap;
}

#CTT_Comments {
    padding: .5em;
    color: var(--bluegreen);
}